* {
    font-family: 'Playfair Display', serif;   
}

ul{
    list-style:none;
}

h1{
color: black;
text-align: left;
font-size:600%;
}

h2{
color: rgba(0, 0, 0, 0.904);
text-align: left;
font-size:400%;
}

h3{
    font-size:300%;
}

h4{
    font-size:250%;
}

p{
    color: rgba(0, 0, 0, 0.847);
    text-align: left;
    font-size:250%;
}

header{
    background-color: rgb(126, 126, 121);
    margin-bottom:1%;
}


.logo{
    align-self: baseline;

}

.info-actions{
    margin-left:90%;
}

.btn-primary{
    margin-left: 20%;
    color:#2c0a29;
    height: 110px;
    width:350px;
    padding: 0%;
    font-size: 300%;
    font-weight: 500%;
}

.btn-primary:hover {
    background: #d3b5d1;
 }
.btn-primary:active {
    background: #deafd4;
 }


.btn-edit{
    margin-left: 97%;
    color: rgb(32, 6, 40);
    padding: 1%;
    border-radius: 50%; 
    border: 10% solid rgb(182, 36, 226);
    display: flex;
}
.btn-edit:hover {
    background: #a41c9b;
 }
.btn-edit:active {
    background: #470f3b;
 }

.btn-delete{
    margin-left:97%;
    color: rgb(20, 3, 25);
    padding: 1%;
    border-radius: 50%; 
    border: 2% solid rgb(25, 3, 32);
    display:flex;
}
.btn-delete:hover {
    background: #bc8010;
 }
.btn-delete:active {
    background: #962d13;
 }


.banner{
    height: auto;
    max-width: 100%;
    
}



section{
    background-color: azure;
}

.profile{
    width: 15%;
    height: 15%;
}

.profile-image{
    max-width: 80%;
    height: auto; 
    border-radius: 30%; 
    border: 5px solid rgb(143, 20, 180);
    margin-top:-30%;
    margin-left:25%;
}

.acerca-de{
    text-align: left;
    margin-top: -12%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left:20%;
    line-height: 70%;
}

.experiencia{
    border-style: solid;
    border-color: rgb(223, 185, 185);
    border-radius: 5%;
    margin-top: 2%;
}

.education{
    border-style: solid;
    border-color: rgb(223, 185, 185);
    border-radius: 5%;
    text-align: left;
    line-height: 70%;
    margin-top: 2%;    
}

.habilidades{
    border-style: solid;
    border-color: rgb(223, 185, 185);
    border-radius: 5%;
    margin-top:2%;
    
}

.circular-progress{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: left;
    /*background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36) 50%, rgba(103, 98, 200,1) 50%);
    */
    position: relative;
    /*transform: rotate(90deg);*/
}


.circular-progress:before{
        /*content:"HTML5";*/
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        /* background: azure content-box; */
        border-radius: 50%;
        padding: .5em;
        box-sizing: border-box;
        font-size: 3rem;
        /* color:  black; */
        text-align: center;
        line-height: 13rem;
        /* transform: rotate(-90deg); */
    }

.circular-progress:after{
    /* content:"60%"; */
    width:20rem;
    height:20rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    /* background: linear-gradient(
        transparent 50%,
        azure 50%
        );
    transform: scale(1.1) rotate(-90deg); */
    text-align: center;
    font-size: 2rem;
    /* color: black; */
    line-height: 21rem;
}



@function progress($percent) {
    $deg: $percent/100 * 180;
    @return #{$deg}deg;
} 

@mixin .circular-progress($percent,$skill,$color,$bgcolor) {
    $progress: progress($percent);
    transform:rotate($progress);
    background:linear-gradient(
        0deg,
        $color 50%,
        rgba($color,.2) 50%
    );

    .circular-progress:after{
        color:$color;
        content: "#{$percent}%";
        background: linear-gradient(
            transparent 50%,
            $bgcolor 50%
        );
        transform: scale(1.1) rotate(-#{$progress});
    }

    .circular-progress:before{
        color:$color;
        content:"#{$skill}";
        background: $bgcolor content-box;
        transform: rotate(-#{$progress});
    }
}

.html{
    @include .circular-progress(
        70,
        html5,
        orange,
        azure
    )
}
.proyectos{
    border-style: solid;
    border-color: rgb(223, 185, 185);
    border-radius: 5%;
    margin-top: 2%;
}

footer{
    background-color: rgb(101, 101, 94);
    block-size: 20%;
}